logs/*
site/*
!site/start
!site/hardstart
!site/push
!site/pull
!site/restart
!site/stop
!site/permission-fix
!site/install
!site/uninstall
!site/import
!site/export
!.gitkeep
!.gitignore
.env
.DS_Store